<div class="block event">
  <div class="block-content">
    <h2>
      <a href="http://bit.ly/MakexRubyNL" class="event-name">
        <img src="/images/logos/make.png" class="logo-image" alt="OfferZen card">
        <span>Make x Ruby NL</span>
      </a>
    </h2>

    <p>
      Ruby NL and OfferZen have partnered up to offer a Make Event exclusively for the Ruby NL community. An opportunity for curious developers to play, learn and build. During the event you will learn how to build a self-watering plant system using Arduino ESP8266.
    </p>
    <p class="event-link">
      <a href="http://bit.ly/MakexRubyNL">View event &raquo;</a>
    </p>
  </div>
</div>

<div class="block event">
  <div class="block-content">
    <h2>
      <a href="https://noruko.org/" class="event-name">
        <img src="/images/logos/noruko_logo.png" class="logo-image" alt="NoRuKo logo">
        <span>#NoRuKo</span>
      </a>
    </h2>

    <p>
      NoRuKo is a virtual mini-conference filling a bit of the void all the cancelled and postponed events created. The name is a play on the biggest European Ruby Conference, "EuRuKo", which we organized last year.
    </p>
    <p class="event-link">
      <a href="https://noruko.org/">View event &raquo;</a>
    </p>
  </div>
</div>

<div class="block event">
  <div class="block-content">
    <h2>
      <a href="https://amsrb.org" class="event-name">
        <img src="/images/logos/amsterdamrb_logo.svg" class="logo-image" alt="Amsterdam.rb logo">
        <span>Amsterdam.rb</span>
      </a>
    </h2>

    <p>
      Amsterdam.rb is the Ruby community in Amsterdam, the Netherlands. It's a monthly event where speakers share their knowledge, we all learn something and attendees can network.
    </p>
    <p class="event-link">
      <a href="https://amsrb.org">View event &raquo;</a>
    </p>
  </div>
</div>

<div class="block event">
  <div class="block-content">
    <h2>
      <a href="https://railsgirls.nl" class="event-name">
        <img src="/images/logos/railsgirls_logo.png" class="logo-image" alt="RailsGirls Netherlands logo">
        <span>Rails Girls NL</span>
      </a>
    </h2>

    <p>
      Rails Girls is a global community with many local events. Rails Girls aims to open up technology and make it more approachable for girls and women. Rails Girls NL is the community under which events in the Netherlands are organized.
    </p>
    <p class="event-link">
      <a href="http://railsgirls.nl">View event &raquo;</a>
    </p>
  </div>
</div>

<div class="block event">
  <div class="block-content">
    <h2>
      <a href="https://euruko2019.org/" class="event-name">
        <img src="/images/logos/euruko2019_logo.svg" class="logo-image" alt="EuRuKo 2019 Rotterdam logo">
        <span>EuRuKo 2019 Rotterdam</span>
      </a>
    </h2>

    <p>
      EuRuKo is the yearly European Ruby Conference. In 2019 it was held in Rotterdam, the Netherlands, organized by Stichting Ruby NL with the help from sponsors and volunteers.
    </p>
    <p class="event-link">
      <a href="https://euruko2019.org">View event &raquo;</a>
    </p>
  </div>
</div>

<div class="block event">
  <div class="block-content">
    <h2>
      <a href="https://www.rossconf.io/" class="event-name">
        <img src="/images/logos/rossconf_logo.png" class="logo-image" alt="EuRuKo 2019 Rotterdam logo">
        <span>ROSS conf 2018 Amsterdam</span>
      </a>
    </h2>

    <p>
      ROSS conf Amsterdam gives open source software maintainers the platform to introduce their project to an audience of first time as well as existing contributors.
    </p>
    <p class="event-link">
      <a href="https://www.rossconf.io/">View event &raquo;</a>
    </p>
  </div>
</div>
