<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>
      {%- if page.title == "" -%}
        {{ site.title }}
      {%- else -%}
        {{ page.title }} - {{ site.title }}
      {%- endif -%}
    </title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="container">
      <main>
        <nav class="main-navigation">
          <a href="/">Home</a>
          <span class="separator"></span>
          <a href="/events">Events</a>
          <span class="separator"></span>
          <a href="/sponsorships">Sponsorships</a>
          <span class="separator"></span>
          <a href="/about">About</a>
        </nav>

        {{ content }}
      </main>
    </div>
  </body>
</html>
