---
title: About
layout: default
---

<div class="hero-about"></div>

<section class="section">
  <h1>About</h1>
  <p>
    Ruby NL is a group of volunteers that organize Ruby focussed community events in the Netherlands. We rely on <a href="/sponsorships">sponsorships</a> and donations to host events.
  </p>

  <h2>The team</h2>

  <ul>
    <li>Arno Fleming</li>
    <li>Tom de Bruijn</li>
    <li>Aidan Rudkovskyi</li>
    <li>And all our other lovely volunteers at meetups and workshops!</li>
  </ul>

  <p>Contact us at <a href="mailto:contact@rubynl.org">contact@rubynl.org</a>.</p>
</section>
