---
title: Sponsorships
layout: default
---

<div class="hero-sponsorships"></div>

<section class="section">
  <h1>Sponsorships</h1>

  <p>
    Events organized by Stichting Ruby NL rely on sponsors from the community to make events happen. This can be done by providing a venue, food, beverages, equipment, speakers, monetary donations, et cetera.
  </p>

  <p>
    Every <a href="/#events">event</a> has its own sponsorship packages. See the list below for links to each event for their sponsorship packages.
  </p>

  <p>
    Companies and organizations sponsoring events organized by Stichting Ruby NL agree to follow the <a href="/sponsorships/agreement/">Stichting Ruby NL sponsorship agreement</a>.
  </p>

  <p>
    Contact us at <a href="mailto:contact@rubynl.org">contact@rubynl.org</a> for more information on how to sponsor Stichting Ruby NL events.
  </p>

  <h2>Sponsorships for events</h2>

  <ul>
    <li><a href="https://amsrb.org/sponsorships/">Amsterdam Ruby meetup sponsorships page</a></li>
    <li>Rails Girls NL sponsorships - Ask us at <a href="mailto:contact@rubynl.org">contact@rubynl.org</a></li>
  </ul>
</section>
